@model PortalCG.Models.ViewModels.LeaderViewModel
@{
    ViewBag.Title = "Novo Dirigente";
    const int ITEM_PER_ROW = 3;
}
@using (Html.BeginForm("Create", "Leader", FormMethod.Post))
{
    <input type="hidden" id="item-per-row" value="@ITEM_PER_ROW" />
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <span class="caption-subject bold uppercase font-blue-steel searchable">
                    Título
                </span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="course-content">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                        @Html.TextBoxFor(m => m.LeaderTitle.Valor, new { @class = "form-control", @required = "required" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="general-item-list">
        <div class="col-md-@(12/ITEM_PER_ROW)">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject bold uppercase font-blue-steel searchable">
                            Novo Elemento
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="course-content">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                                <input type="text" class="form-control" name="LeaderToInsert" />
                            </div>
                        </div>
                    </div>
                    <div class="course-buttons">
                        <div class="row">
                            <br />
                            <div class="col-md-12">                                
                                <a class="btn btn-danger btn-xs btn-remove-new">Excluir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    <input type="button" class="btn blue btn-large" id="add-item" name="Adicionar" value="Adicionar" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 text-right">
            <input type="submit" class="btn btn-success btn-lg" value="Salvar" />
        </div>
    </div>

}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/Leader/js")