@model PortalCG.Models.JsonModels.Discipline
@{
    Layout = null;
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase font-blue-steel" href="#">
                @Model.Nome
            </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="course-content">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.CH, new { @class = "bold" })
                </div>
                <div class="col-md-8">
                    @Model.CH
                </div>
            </div>
        </div>
        <div class="course-buttons">
            <div class="row">
                <br />
                <div class="col-md-12">
                    @if (Model.ShowTeachers)
                    {
                        <a href="@Url.Action("AllTeachers","Discipline", new { id = Model.Id})" class="btn blue btn-xs">Professores</a>
                    }
                    <a href="@Url.Action("UploadFile", "Discipline", new { idDiscipline = Model.Id, disciplineName = Model.Nome, courseOption = Model.CourseOptionRoute, idCourse = Model.IdCourse, option = Model.OptionRoute })" class="btn blue btn-xs">Arquivos</a>
                </div>
            </div>
        </div>
    </div>
</div>
