@model PortalCG.Models.JsonModels.Teacher
@{
    Layout = null;
}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase font-blue-steel searchable">
                @Model.Nome
            </span>
        </div>
    </div>
    <div class="portlet-body">
        <div class="course-content">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
                    @Html.Label("Regime", new { @class = "bold" })
                    :
                    @Model.ModContrato
                </div>
            </div>
        </div>
        <div class="course-buttons">
            <div class="row">
                <br />
                <div class="col-md-6">
                        <a href="@Model.LinkCurriculo" target="_blank" class="btn blue btn-xs">Curriculo Lattes</a>
                </div>
                <div class="col-md-6">
                    @if (Model.ShowDisciplines)
                    {
                        <a href="@Url.Action("AllDisciplines","Teacher", new { code = Model.Codigo})" class="btn blue btn-xs">Disciplinas</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
