@model PortalCG.Models.InstitutionalUploadFileModel

@{
    ViewBag.Title = "Enviar Arquivo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/FileInput/css")

@using (Html.BeginForm("UploadFile", "Institutional", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.IdType)
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <a class="caption-subject bold uppercase font-blue-steel" href="#">
                    @Html.Raw(PortalCG.Util.EnumDescription.GetEnumDescription(Enum.Parse(typeof(PortalCG.Util.Enum.TypeInstitutionalFileEnum), Model.IdType.ToString())))
                </a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="input-group input-large">
                                    <div class="form-control uneditable-input input-medium" data-trigger="fileinput">
                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                        <span class="fileinput-filename"> </span>
                                    </div>
                                    <span class="input-group-addon btn default btn-file">
                                        <span class="fileinput-new"> Selecionar Arquivo </span>
                                        <span class="fileinput-exists"> Alterar </span>
                                        <input type="file" name="File" accept="application/pdf">
                                    </span>
                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remover </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-lg green pull-right"><span class="fa fa-upload"></span> Enviar</button>
                </div>
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/FileInput/js")
